/* Página de Atividades */

.container_Atividade {
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   height: 980px;
   background-position-y: 85%;
   } 
   
   .baixo_Atividade {
       display: flex;
   }
   
   
   .esquerda_atividade img {
       width: 300px;
   }
   
   .trofeu {
       font-size: 50px;
   }
   /* Blocos de Acessos das Atividades */
   
   .texto_atividades{
       font-size: 30px;
       color: rgba(255, 255, 255, 0.932);
   }
   
   .video_Atividade { 
       background-color: rgb(230, 10, 10);
       display: block;
       align-content: center;
       text-align: center;
       border-radius: 10PX;
       margin:20px;
   
       /* Tamanho */
       width: 250px;
       height: 100px;
   }
   
   .jogo_Atividade {
       background-color: rgb(241, 198, 9);
       display: block;
       align-content: center;
       text-align: center;
       margin:20px;
       border-radius: 10PX;
   
       /* Tamanho */
       width: 250px;
       height: 100px;
   }
   
   .material_Atividade {
       background-color: rgb(9, 172, 9);
       display: block;
       align-content: center;
       text-align: center;
       margin:20px;
       border-radius: 10PX;
   
       /* Tamanho */
       width: 250px;
       height: 100px;
   }