@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.conteiner{
    display: flex;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


.azul{
    position: relative;
    top: 0px;
    width: 25%;
    height: 915px;
    background: rgb(26,71,137);
    padding: 14px;
}


.h2{
  margin-left: 40px;
  margin-top: 40px;
  color: #fff;  
}


.h3{
    margin-left: 40px;
    margin-top: 30px;
    color: #fff;
}


.p2{
 margin-left: 60px;
  margin-top: 25px;  
  color: #fff;
}


.icon {
    margin-left: 62px;
    font-size: 1.2em;
    color: #fff;
    vertical-align: middle;
}


.icon2 {
    margin-left: 60px;
    font-size: 1.2em;
    color: #fff;
    vertical-align: middle;
}


.icon3 {
    margin-left: 24px;
    font-size: 1.2em;
    color: #fff;
    vertical-align: middle;
}


.icon4 {
    margin-left: 52px;
    font-size: 1.2em;
    color: #fff;
    vertical-align: middle;
}


.icon5 {
    margin-left: 14px;
    font-size: 1.2em;
    color: #fff;
    vertical-align: middle;
}





.direita {
    margin-left: 50px;
}
.baixo {
    margin-left: 100px;
    display: flex;
}
h3 {
    line-height: 7.5;
    font-size: 20px;
}
button {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}


.som{
    display: flex;
}
.lado{
    margin-left: 20px;
}
select {
    width: 130px;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #ffffff;
    color: #007BFF;
    cursor: pointer;
    font-size: 16px;
}