@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 231, 231);

}

.navbar {
    background-color: rgb(241, 241, 241);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar div {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.esquerda img {
    width: 150px;
    margin-left: -100px;

    margin-top: -25px;
}

.pesquisa {
    position: relative;
    width: 60px;
}

.pesquisa input[type="text"] {
    width: 100px;
    padding-right: 55px;
    border-radius: 12px;
    height: 20px;
}

.pesquisa img {
    position: absolute;
    left: 135px;
    top: 5px;
    height: 15px;
}

.teste {
    margin-right: -280px;
}

.log img {
    height: 70%;
    margin-top: -10px;
    margin-left: 130%;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;

}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    text-decoration: none
}

a:hover {
    color: rgb(83, 83, 83);
}

main {
    background-image: url(teste.jpg);
    background-position-y: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 793px;
    margin-top: 0px;
}

.main2 {
    background-image: url(fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    margin-right: 20vh;
    justify-content: space-around;

}


main div {
    text-align: center;
    align-items: center;
    justify-content: center;
}

main img {
    width: 60%;
    height: 50%;
}

.btn {
    margin-top: -60px;
    margin-bottom: -15px;
}

.btn button {
    padding: 30px;
    font-size: 30px;
    color: #FFFFFF;
    overflow: visible;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 150px;
    background-color: #113dac;
    border: 1px solid #1652F0;
    cursor: pointer;
}

.btn2 button {
    width: 350px;
    height: 350px;
    font-size: 30px;
    border-radius: 50%;
    margin-bottom: 150px;
    background-color: rgb(255, 0, 0);
    position: relative;
    top: 18vh;
    cursor: pointer;
}


.btn3 button {
    width: 350px;
    height: 350px;
    font-size: 30px;
    border-radius: 50%;
    margin-bottom: 150px;
    background-color: rgb(255, 166, 31);
    position: relative;
    top: 18vh;
    cursor: pointer;
}


.btn4 button {
    width: 350px;
    height: 350px;
    font-size: 30px;
    border-radius: 50%;
    margin-bottom: 150px;
    background-color: rgb(21, 125, 75);
    position: relative;
    top: 18vh;
    cursor: pointer;
}




.btn button:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}


footer {
    background-color: rgb(26, 71, 137);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.img {
    right: 50px;
    margin-right: 30px;
}

.p1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 800px;

}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 40px;
}

.sobrenos {
    background-color: rgb(202, 200, 200);
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 250px;
    border-radius: 30px;
}

.conteudo {
    display: flex;
    margin-top: 90px;
}

.titulos {
    margin: auto;
    margin-left: 135px;
}

h1 {
    margin-left: 45px;
}

/* FALE CONOSCO */

.CaixaCentral span {
    padding-left: 40px;
}

.titulo {
    padding-top: 50px;
    height: 60px;
    width: 100%;

}

.titulo h1 {
    font-size: 60px
}

.CaixaCentral {
    position: relative;
    top: 5vh;
    margin-bottom: 10vh;
    background-color: rgb(202, 200, 200);
    height: 660px;
    width: 1200px;
    margin: auto;
    opacity: 0.920;
    border-radius: 30px;
}

.CaixaCentral h1 {
    text-align: center;
}

.RedeSocial {
    margin: 40px;
    justify-content: space-between;

}

.topo_RedeSocial {
    text-align: center;
    display: flex;
}

.meio_RedeSocial {
    display: flex;
    padding-left: 30px;
}

.baixo_RedeSocial {
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}


.facebook {
    cursor: pointer;
    margin: 20px;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.facebook img {
    display: block;
    height: 100px;
    width: 100px;
}

.x {
    cursor: pointer;
    display: flex;
    padding-left: 130px;
    font-size: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.x img {
    display: block;
    height: 100px;
    width: 100px;
}

.instagram {
    cursor: pointer;
    display: flex;
    font-size: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

.instagram img {
    display: block;
    height: 100px;
    width: 100px;
}

.zapp {
    cursor: pointer;
    display: flex;
    padding-left: 110px;
    font-size: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
.zapp img {
    display: block;
    height: 100px;
    width: 100px;
}

.gmail {
    cursor: pointer;
    display: flex;
    font-size: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;

}

.gmail img {
    display: block;
    height: 100px;
    width: 120px;

}

.sobrenos {
    background-color: rgb(202, 200, 200);
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 150px;
    border-radius: 30px;
    margin-bottom: 143px;
}

.conteudo {
    display: flex;
    margin-top: 80px;
}

.titulos {
    margin: auto;
    margin-left: 220px;
}

h1 {
    margin-left: 12px;
    margin-bottom: 15px;
    font-size: 50px;
}

.img2 {
    display: block;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 100px;
    width: 230px;
}

.text {
    font-size: 20px;
}

.registro {
    width: 35%;
    height: 800px;
    background-color: #4b4b4b;
    flex-wrap: wrap;
}

.registro img {
    width: 65%;
    height: 25%;
}

input[type="radio"] {
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }


/*Séries Iniciais*/
.seriesIniciais{
    display: flex;
    margin-top: 100px;
    margin-left: 350px;
}

.conteudos{
    display: flex;
    margin-top: 70px;

}
.cont{
    background-color: rgb(160, 160, 160);
    border-radius: 20px;
    width: 300px;
    height: 70px;
    text-align: center;
    margin-top: 30px;
}
.ti{
 background-color: rgb(240, 45, 45);
 margin-left: 100px;
 margin-right: 100px;
 border-radius: 20px;
 width: 300px;
height: 70px;
text-align: center;
}
p dasdasdassd{
    margin-top: 20px;
    font-size: 30px;
}
h1{
    margin-top: 15px; 
    font-size: 40px;
}

.img1{
    background-color: rgb(0, 0, 0);
    margin-left: 300px;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    color: white;
}
.img2{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 400px;
    height: 400px;
    text-align: center;
    color: white;
}
.icone{
    margin-left: 100px;
    margin-right: 0px;
    border-radius: 20px;
    width: 300px;
    height: 70px;
    text-align: center;
}

/* teste */
body .registrar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 750px;
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4b4b4b;
}

.wrapper .input-field {
    position: relative;
    width: 50%;
    background-color: salmon
}