* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}




.conteiner {
    display: flex;
}


body {
    margin-top: 100px;
    background: rgb(230, 230, 227);
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 20px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #F2F2F2;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
    margin-left: 60px;
}

.esquerda {
    display: flex;
    align-items: center;
}

.esquerda img {
    max-height: 90px;
    /* Ajuste a altura conforme necessário */
    width: 180px;
    margin-left: 30px;
}

.navigation .diferente {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .diferente::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}


.navigation .diferente:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    margin: 30px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navigation {
    color: #162938;

}

.navigation .btnLogin-popup {
    margin: 30px;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}


.navigation .btnLogin-popup:hover {
    background: rgb(37, 36, 36);
    color: #fff;
}

footer {
    position: absolute;
    bottom: 0%;
    background-color: #023859;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
}



/* Página de Atividades */

.container_Atividade {
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: 85%;
}



.baixo_Atividade {
    display: flex;
}


.esquerda_atividade img {
    width: 300px;
}

.direita_atividade {
    display: flex;
}

/* Título */

.ti {
    background-color: rgb(233,233,233);
    margin-top: 110px;
    margin-right: 100px;
    width: 400px;
    height: 70px;
    text-align: center;
}


.ti h1 {
    align-items: center;
    font-size: 40px;
}

h1 {
    margin-left: 45px;
}


.titulo_Atividade {
    display: block;
    background-color: white;
    font-size: 25px;
    width: 800px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    /* sombra no texto */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* sombreamento suave */
    border-radius: 10px;
    padding: 20px;
}

/* Trofeu */

.trofeu_container img {
    width: 300px;
}

.trofeu_container {
    display: block;
    width: 38%;
}

.img_trofeu {
    position: absolute;
    top: 450px;
    left: 1180px;
    display: block;
}

.trofeu_texto {
    font-size: 50px;
    position: absolute;
    top: 510px;
    left: 1285px;
    display: block;
}

/* Blocos de Acessos das Atividades */

.container_botao {
    margin-left: 700px;
}

.texto_atividades {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.932);
}

.video_Atividade {
    background-color: rgb(233, 48, 48);
    display: block;
    align-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 10PX;

    /* Tamanho */
    width: 400px;
    height: 140px;
}


.jogo_Atividade {
    background-color: rgb(243, 203, 23);
    display: block;
    align-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 10PX;

    /* Tamanho */
    width: 400px;
    height: 140px;
}

.material_Atividade {
    background-color: rgb(90, 206, 90);
    display: block;
    align-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 10PX;

    /* Tamanho */
    width: 400px;
    height: 140px;
}